*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
    
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8rem;
    padding: 30px;
    /* border: 1px solid #888; */
    border-radius: 30px;
    background-color: #ffffff1e;
    backdrop-filter: blur(50px);
}